.inline-svg {
    display: inline-block;
    height: 1.15rem;
    width: 1.15rem;
    top: 0.15rem;
    position: relative;
}

.social-icon {
    height: 3rem;
    width: 3rem;
    margin: 0.25rem;
}

.fa-keybase:hover {
    color: #ff6f21;
}

.fa-github:hover {
    color: hsla(0, 0%, 100%, .7);
}

.fa-linkedin-in:hover {
    color: #0073a4;
}

.fa-twitter:hover {
    color: #00aced;
    ;
}

.fa-mastodon:hover {
    color: #6364ff;
    ;
}

.fa-rss:hover {
    color: #be3115;
}

.fa-message:hover {
    color: #15be26;
}

.fa-bluesky:hover {
    color: #1526be;
}